@import url("https://fonts.googleapis.com/css?family=Jost");
@import url("https://fonts.googleapis.com/css?family=Overpass");
@import url("https://fonts.googleapis.com/css?family=Poppins");
.home {
  justify-content: center;
  background: #000000;
  color: #fff;
}

.empty {
  position: absolute;
  width: 100%;
  top: 240px;
  height: 17rem;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #000000
  );
}

.header-container {
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.header-image {
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  opacity: 0.7;
}

.header-text {
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 20%;

  h1 {
    cursor: pointer;
    font-family: "Jost";
    font-size: 7vh;
    transition: all 450ms ease;

    &:hover {
      transform: scale(1.1);
      transition: all 450ms ease;
    }
  }

  p {
    font-family: "Overpass";
    font-size: 2.5vh;
  }
}

.headlines {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;

  .images {
    display: flex;
    justify-content: left;
    flex-direction: row;
  }
}

.featured-image,
.new-content,
.artist-image {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 60px;
  padding: 50px;
  a {
    text-decoration: none;
    h1 {
      color: white;
      &:hover {
        color: white;
      }
    }
  }
}

.featured-image {
  .card_wrapper {
    width: 300px;
  }
}

.card_container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #141414;
  .card_wrapper {
    height: 400px;
    overflow: hidden;
    border-radius: 5px;

    img {
      cursor: pointer;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
      transition: all 450ms ease;
      &:hover {
        transform: scale(1.05);
        transition: all 450ms ease;
      }
    }
  }
  h1 {
    font-family: "Poppins";
    font-size: 3.6vh;
    padding: 20px;
    text-shadow: 3px 3px 4px black;
  }
}

.info {
  transition: all 450ms ease;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-top: 50px;
  .info-wrapper {
    width: 600px;
    background-color: #141414;
    padding: 30px;
    border-radius: 5px;
  }
  h1 {
    font-family: "Poppins";
    height: 60px;
    border-bottom: 2px solid white;
  }
  p {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
}

.explore {
  text-decoration: none;
  color: black;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-family: "Poppins";

  &:hover {
    color: black;
    box-shadow: 5px 5px 0px black;
    text-decoration: none;
  }
}

.feat {
  transition: 500ms ease;
  background-color: rgb(126, 219, 255);
  &:hover {
    background-color: rgb(28, 49, 58);
    color: #fff;
  }
}

.newcont {
  transition: 500ms ease;
  background-color: rgb(255, 231, 126);
  &:hover {
    background-color: rgb(85, 71, 0);
    color: #fff;
  }
  .card_container .card_wrapper {
    width: 100% !important;
  }
}

.contact-button {
  background-color: rgb(252, 167, 255);
}

.card_wrapper_artist {
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  img {
    cursor: pointer;
    width: 500px;
    height: auto;
    border-radius: 5px;
    border-radius: 5px;
    transition: all 450ms ease;
    &:hover {
      transform: scale(1.05);
      transition: all 450ms ease;
    }
  }
}

@media screen and(max-width: 700px) {
  .headlines {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .images {
      flex-direction: column;
      justify-content: center;
    }
  }
  .featured-image,
  .new-content,
  .artist-image {
    flex-direction: column;
    justify-content: center;
  }
  .info {
    align-items: center;
    .info-wrapper {
      width: 300px;
      h1 {
        height: 200px;
      }
    }
  }

  .card_container {
    .card_wrapper {
      height: 350px;
      overflow: hidden;
      border-radius: 5px;

      img {
        height: 100%;
        border-radius: 5px;
        transition: all 450ms ease;
        &:hover {
          transform: scale(1.05);
          transition: all 450ms ease;
        }
      }
    }
  }

  .artist-image {
    img {
      width: 100%;
    }
  }
  .new-content {
    .card_wrapper {
      height: auto;
      img {
        width: 300px;
      }
    }
  }
}

.new-icon {
  position: absolute;
  right: 49%;
  color: #612a4f;
  font-size: 50px !important;
  animation: spin 10s linear infinite;
  transition: all 450ms ease;
}
@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(3600deg);
  }
}
