@import url("https://fonts.googleapis.com/css?family=Mukta:700");
@import url("https://fonts.googleapis.com/css?family=Jost");

$bg: #000000;
$white: rgb(0, 0, 0);
$black: #8ad4ff;

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

.indcard-container {
  padding-top: 50px !important;
  padding: 20px;
  .indcard-wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
    h1 {
      color: white !important;
    }
  }
}

.indcard-image-card {
  width: 50%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
  background-color: #111111;
  .indcard-image {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
    img {
      width: 100%;
    }
  }
}

.indcard-info {
  padding: 20px;
}

.indcard-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.indcard-softwares {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 20px;
}

.softwares-used {
  border-radius: 5px;
  h1 {
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
  }
}

.indcard-description {
  color: rgb(211, 211, 211);
}

.indcard-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px 20px;
  .indcard-comment-container,
  .indcard-explore-container {
    padding: 20px;
    border-radius: 10px;
    background-color: #111111;
  }
}

.indcard-top-comments {
  display: flex;
  flex-direction: column;
  gap: 20px 20px;
}

.indcard-commentbox {
  background-color: #252525;
  padding: 20px 20px 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 99%;
  .indcard-comment-text {
    .indcard-comment-name {
      h1 {
        font-size: 20px;
      }
    }
    .indcard-comment {
      p {
        color: rgb(109, 109, 109);
      }
    }
  }
}

.indcard-enter-comment {
  display: inline-block;
  position: relative;
  height: 150px;
  textarea {
    border: none;
    color: #fff;
    height: 100%;
    resize: none !important;
    width: 100%;
    &:focus {
      outline: none !important;
    }
  }
  .indcard-comment-submit {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 20px;
    bottom: 10px;
    right: 10px;
  }
}

.indcard-comment-window {
  display: flex;
  flex-direction: column;
  gap: 20px 20px;
  max-height: 224px;
  width: 100%;
  overflow-y: auto;
}
.indcard-comment-window::-webkit-scrollbar,
.indcard-image::-webkit-scrollbar {
  width: 10px;
}

.indcard-comment-window::-webkit-scrollbar-track,
.indcard-image::-webkit-scrollbar-track {
  background-color: #111111;
  border-radius: 5px;
}

.indcard-comment-window::-webkit-scrollbar-thumb,
.indcard-image::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  opacity: 0.5;
  border-radius: 5px;
}

.indcard-image::-webkit-scrollbar-corner {
  background-color: #111111;
}
.check-other {
}
.check-container {
  margin-top: 10px;
  overflow: hidden;
  border-radius: 10px;
  width: 48%;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.check-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.circle {
  &:active {
    background-color: orange !important;
  }
}

@media screen and (max-width: 700px) {
  .indcard-container {
    .indcard-wrapper {
      flex-direction: column;
      gap: 20px;
    }
  }

  .indcard-image-card,
  .indcard-side {
    width: 100%;
  }

  .indcard-comment-window {
    max-height: 297px;
  }

  .check-container {
    width: 100%;
  }
}
