.input-tag {
  background: #141414;

  border-radius: 2px;

  flex-wrap: wrap;
}

.input-tag input {
  border: none;
  width: 500px;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;

  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  background: #474747;
  border-radius: 2px;
  color: white;
  display: flex;
  border-radius: 5px;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: #000000;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
  background: #000000;
  border-radius: 5px;
  flex-grow: 1;
  padding: 0;
}
