@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Odibee+Sans");

.navbar {
  padding: 20px;
  height: 80px;
  width: 100%;
  background: linear-gradient(to bottom, #141414, rgba(14, 14, 14, 0));
  transition: all 450ms ease;
  color: white;

  .menu-icon {
    position: fixed;
    right: 20px;
  }

  .nav-header {
    position: fixed;
    left: 20px;
    font-family: "Monoton";
    h1 {
      font-size: 30px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
.show {
  background: rgba(14, 14, 14, 1);
  transition: all 450ms ease;
}
@media screen and (max-width: 900px) {
  .nav-links {
    background-color: #141414;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 80px;
    right: -200px;
    transition: all 450ms ease;
    height: 100%;

    a {
      text-decoration: none;

      h1 {
        color: rgb(255, 255, 255);
        padding: 20px;
        margin-right: 35px;
        padding-left: 50px !important;
        font-size: 20px;
      }
    }
  }

  .clicked {
    right: 0 !important;
    transition: all 450ms ease;
  }
}

@media screen and (min-width: 900px) {
  .link-active {
    transform: scale(1.3);
    border-bottom: 2px solid white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .menu-icon {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    position: absolute;
    right: 30px;

    a {
      text-decoration: none;
      color: white;
      transition: all 500ms ease;
      font-family: "Odibee Sans";
      h1 {
        font-size: 20px;
      }
      &:hover {
        color: rgb(230, 230, 230);
      }
    }
  }
  .underline {
    position: relative;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }

  @media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
}

.remnav {
  opacity: 0;
}

.upload-button{
  padding:10px;
  position: absolute;
  right:47%;
  a{
    text-decoration: none;
    color: #fff;

    i{
      span{
          font-family: "Poppins";
        font-size:15px;
        transition: all 150ms ease;
      }
      &:hover{
        animation: bounce 1.5s infinite;
        transition: all 150ms ease;
      }
    }
    &:hover{
      color: #fff;
    }
    }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-10px);
  }
	60% {
    transform: translateY(-5px);
  }
}